html,body{
    margin:0;
    height: 100vh;
    position: relative;
  }

.contenedor-peaton-fondo{ 
	position: absolute;
	background-image: url(../assets/img/road.jpg);
    background-size: cover;
    background-repeat: no-repeat;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.instrucciones-peaton{
	
	margin-top: 6%;
	width: 100%;
	height: 500px;
	border: solid 10px #59C3C3;
	border-radius: 2%;
	background-color:rgba(255,255,255,.8);
}
.almacen-img{
 margin-top:2%;
 display: flex;
 justify-content: center;
 position: relative;
}

img{
 width: 30%;
 height: 8%;
}

.instrucciones-titulo{
 position: absolute;
 font-size: 1.5vw;
}
.peaton_titulo,.ciclista_titulo{
	font-family: 'Permanent Marker', cursive;
	color: #187CBE;
	font-size: 2vw;
	transform:  rotate(-6deg);
}

.imagen_usuario{
  width: 13%;
  height: 20%;
}

.contenedor_img_usuario{
  width: 100%;
  height: 100%;
  margin-top: 34%;
}

.instrucciones_texto{
	margin-top: 4%;
	color: #187CBE;
	font-size: 1.2vw;
}
.botones{
 margin-top: 2%;
}
.btn{
background-color: #F45B69;
	transform-style: preserve-3d;
}

.articulos{
	width: 15%;
	height: 15%;
}

.articulos:hover{
 width: 20%;
}

