<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Avatar</title>
    <link rel="stylesheet" href="../css/materialize.min.css">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../css/avatar.css">
  </head>
  <body>
<!-- botones -->
    <section class="container-fluid">
      <div id="c-slider"class="carousel container">
        <div class="carousel ">
          <div data-slide="0" class="carousel-content active">
            <img src="../assets/img/monos-13.png" alt="Imagen 1">
          </div>
          <div data-slide="1" class="carousel-content">
            <img src="../assets/img/monos-15.png" alt="Imagen 2">
          </div>
          <div data-slide="2" class="carousel-content">
            <img src="../assets/img/monos-14.png" alt="Imagen 3">
          </div>
          <div data-slide="3" class="carousel-content">
            <img src="../assets/img/monos-16.png" alt="Imagen 4">
          </div>
        </div>
      </div>
      <div class="controls container">
        <div class="botones">
          <button type="button" data-target="0" class=" col-md-12 control"><img src="../assets/img/monos-02.png"></button>
          <button type="button" data-target="1" class=" col-md-12 control"><img src="../assets/img/monos-03.png"></button>
          <button type="button" data-target="2" class=" col-md-12 control"><img src="../assets/img/monos-04.png"></button>
          <button type="button" data-target="3" class=" col-md-12 control"><img src="../assets/img/monos-05.png"></button>
        </div>
      </div>
    </section>
    <script src="../js/jquery-3.2.1.min.js"></script>
    <script src="../js/materialize.min.js"></script>
    <script src="../js/avatar.js"></script>
  </body>
</html>
