<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Avatar</title>
    <link rel="stylesheet" href="../css/materialize.min.css">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../css/avatar.css">
  </head>
  <body>
<!-- botones -->
    <section class="container-fluid">
      <div class="col s6 avatar">
        <img src="data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0
                iaXNvLTg4NTktMSI/Pgo8IS0tIEdlbmVyYXRvcjogQWRvYmUgSWxsdXN0cmF0b3IgMTkuMC
                4wLCBTVkcgRXhwb3J0IFBsdWctSW4gLiBTVkcgVmVyc2lvbjogNi4wMCBCdWlsZCAwKSAgL
                S0+CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGlu
                az0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiBpZD0iTGF
                5ZXJfMSIgeD0iMHB4IiB5PSIwcHgiIHZpZXdCb3g9IjAgMCA1MTIgNTEyIiBzdHlsZT0iZW
                5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCA1MTIgNTEyOyIgeG1sOnNwYWNlPSJwcmVzZXJ2Z
                SIgd2lkdGg9IjUxMnB4IiBoZWlnaHQ9IjUxMnB4Ij4KPGc+Cgk8Zz4KCQk8cGF0aCBkPSJN
                Mjg3LjQ2OSw2NS4wMjVoLTYyLjk0Yy00LjE5OSwwLTcuNjA0LDMuNDA1LTcuNjA0LDcuNjA
                0YzAsMjEuNTQ2LDE3LjUyOSwzOS4wNzQsMzkuMDc0LDM5LjA3NCAgICBjMjEuNTQ2LDAsMz
                kuMDc0LTE3LjUyOSwzOS4wNzQtMzkuMDc0QzI5NS4wNzMsNjguNDMsMjkxLjY3LDY1LjAyN
                SwyODcuNDY5LDY1LjAyNXogTTI1NS45OTksOTYuNDk1ICAgIGMtMTAuNTAzLDAtMTkuNDQy
                LTYuODE5LTIyLjYyNC0xNi4yNjJoNDUuMjQ5QzI3NS40NDEsODkuNjc2LDI2Ni41MDIsOTY
                uNDk1LDI1NS45OTksOTYuNDk1eiIgZmlsbD0iIzAwMDAwMCIvPgoJPC9nPgo8L2c+CjxnPg
                oJPGc+CgkJPHBhdGggZD0iTTM0Ny40OTYsMTc4LjY5M2MtMi4zNS0zLjQ4LTcuMDc4LTQuM
                zk1LTEwLjU1Ny0yLjA0NGMtMy40ODEsMi4zNTEtNC4zOTUsNy4wNzgtMi4wNDUsMTAuNTU3
                ICAgIGMxMC42MjYsMTUuNzI4LDE2LjI0MywzNC4xMTksMTYuMjQzLDUzLjE4NXY2MS45NzJ
                oLTM3LjI0OHYtNzAuMjA2YzAtNC4xOTktMy40MDQtNy42MDQtNy42MDQtNy42MDRzLTcuNj
                A0LDMuNDA1LTcuNjA0LDcuNjA0ICAgIHY0OS42MThoLTM1LjA3NXYtOTguMDczYzE3LjMzO
                S0xLjc5MiwzMy4yNzgtOS42ODEsNDUuMjM5LTIyLjQxMWMzLjg4OSwyLjYwMyw3LjYxMyw1
                LjQ5LDExLjEyMSw4LjY3OSAgICBjMy4xMDYsMi44MjQsNy45MTYsMi41OTYsMTAuNzQyLTA
                uNTEzYzIuODI1LTMuMTA3LDIuNTk1LTcuOTE2LTAuNTEyLTEwLjc0MWMtMTEuMy0xMC4yNy
                0yNC40NTctMTcuOTc0LTM4LjYzNi0yMi43OTUgICAgYzIyLjEwMi0xMi40NjcsMzcuMDY5L
                TM2LjE1OCwzNy4wNjktNjMuMjkyYzAtNDAuMDQ5LTMyLjU4LTcyLjYzLTcyLjYyOS03Mi42
                M2MtNDAuMDQ3LDAtNzIuNjI5LDMyLjU4MS03Mi42MjksNzIuNjI5ICAgIGMwLDI3LjEzOCw
                xNC45NzIsNTAuODMyLDM3LjA3OSw2My4yOThjLTQzLjQ1MywxNC44MjktNzQuNzksNTYuMD
                U1LTc0Ljc5LDEwNC40NjV2NjkuNDg3YzAsMC4wMjktMC4wMDQsMC4wNTktMC4wMDQsMC4wO
                DggICAgYzAsMC4wNjEsMC4wMDgsMC4xMjEsMC4wMDksMC4xODJjMC4xLDIyLjM5NiwxOC4z
                NDgsNDAuNTg2LDQwLjc2Niw0MC41ODZoMTEuNjc4djM0LjYxMWMwLDQuMTk5LDMuNDA1LDc
                uNjA0LDcuNjA0LDcuNjA0ICAgIHM3LjYwNC0zLjQwNSw3LjYwNC03LjYwNHYtNDIuMDljMC
                0wLjAxOC0wLjAwMy0wLjAzNy0wLjAwMy0wLjA1NWMwLTAuMDIyLDAuMDAzLTAuMDQ1LDAuM
                DAzLTAuMDY3di00Ni4xNWg4NS4zNjR2NDYuMDUgICAgYzAsMC4wMzMtMC4wMDUsMC4wNjUt
                MC4wMDUsMC4wOThzMC4wMDQsMC4wNjUsMC4wMDUsMC4wOTh2MTE4Ljg4M2gtMzUuMDc5VjM
                zNy45MzJjMC00LjE5OS0zLjQwNC03LjYwNC03LjYwNC03LjYwNCAgICBzLTcuNjA0LDMuND
                A1LTcuNjA0LDcuNjA0djEyNC4xOGgtMzUuMDc4di01MS40MmMwLTQuMTk5LTMuNDA1LTcuNj
                A0LTcuNjA0LTcuNjA0cy03LjYwNCwzLjQwNS03LjYwNCw3LjYwNHY1Mi4yNTYgICAgYy0xN
                S41NDgsMy40NzgtMjcuMjAyLDE3LjM4OS0yNy4yMDIsMzMuOTY5djcuNDc4YzAsNC4xOTks
                My40MDUsNy42MDQsNy42MDQsNy42MDRoMTU0Ljk3N2M0LjIsMCw3LjYwNC0zLjQwNSw3LjY
                wNC03LjYwNHYtNy40NzggICAgYzAtMTYuNTgxLTExLjY1NS0zMC40OTItMjcuMjAzLTMzLj
                k2OVYzNTAuNzM1aDExLjY4NWMyMi40ODEsMCw0MC43NzEtMTguMjksNDAuNzcxLTQwLjc3M
                XYtNjkuNTcyICAgIEMzNjYuMzQ1LDIxOC4yODEsMzU5LjgyOCwxOTYuOTQ2LDM0Ny40OTYs
                MTc4LjY5M3ogTTE5OC41NzgsNzIuNjI5YzAtMzEuNjYyLDI1Ljc1OS01Ny40MjEsNTcuNDI
                xLTU3LjQyMSAgICBjMzEuNjYyLDAsNTcuNDIyLDI1Ljc1OSw1Ny40MjIsNTcuNDIxYzAsMz
                EuNjQ5LTI1LjczNyw1Ny4zOTgtNTcuMzgsNTcuNDJjLTAuMDEyLDAtMC4wMjUsMC0wLjAzN
                ywwICAgIGMtMC4wMTQsMC0wLjAyNywwLjAwMS0wLjA0MiwwLjAwMUMyMjQuMzE3LDEzMC4w
                MjksMTk4LjU3OCwxMDQuMjc5LDE5OC41NzgsNzIuNjI5eiBNMTk4LjEwOSwzMzUuNTI3aC0
                xMS42NzggICAgYy0xMS40NDgsMC0yMS4xNjEtNy41NjMtMjQuNDA3LTE3Ljk1NWgzNi4wOD
                RWMzM1LjUyN3ogTTI0OC4zOTksMjgxLjc3NGgtMzUuMDgzdi00OS42MThjMC00LjE5OC0zL
                jQwNC03LjYwMy03LjYwNC03LjYwMyAgICBjLTQuMTk5LDAtNy42MDQsMy40MDUtNy42MDQs
                Ny42MDR2NzAuMjA2aC0zNy4yNDF2LTYxLjk3MmMwLTMyLjkyMywxNi44MTMtNjEuOTkyLDQ
                yLjMwMi03OS4wNzcgICAgYzExLjk1OSwxMi43MTYsMjcuODk0LDIwLjU5OCw0NS4yMjksMj
                IuMzg4VjI4MS43NzR6IE0yMTcuMDA0LDE1My42MjJjMTEuODk2LTUuMzY3LDI1LjA4My04L
                jM1OSwzOC45NTgtOC4zNjUgICAgYzAuMDEyLDAsMC4wMjQsMC4wMDEsMC4wMzcsMC4wMDFj
                MC4wMTEsMCwwLjAyMS0wLjAwMSwwLjAzMi0wLjAwMWMxMy41ODEsMC4wMDQsMjYuODI5LDI
                uODk5LDM4Ljk2OCw4LjM1NiAgICBjLTEwLjUzNyw5Ljc5NC0yNC4zMTcsMTUuMjc5LTM4Lj
                k5NiwxNS4yNzlDMjQxLjMyMSwxNjguODkyLDIyNy41NDEsMTYzLjQxLDIxNy4wMDQsMTUzL
                jYyMnogTTI0OC4zOTUsNDk2Ljc5MmgtNjIuMjggICAgYzAuMDY5LTEwLjc0OSw4LjgzNC0x
                OS40NzIsMTkuNTk4LTE5LjQ3Mmg0Mi42ODNWNDk2Ljc5MnogTTMyNS44ODMsNDk2Ljc5Mmg
                tNjIuMjgyVjQ3Ny4zMmg0Mi42ODMgICAgQzMxNy4wNDksNDc3LjMyLDMyNS44MTUsNDg2LjA
                0MywzMjUuODgzLDQ5Ni43OTJ6IE0zMjUuNTc0LDMzNS41MjdoLTExLjY4NXYtMTcuOTU1aD
                M2LjA5MiAgICBDMzQ2LjczNiwzMjcuOTY0LDMzNy4wMjIsMzM1LjUyNywzMjUuNTc0LDMzN
                S41Mjd6IiBmaWxsPSIjMDAwMDAwIi8+Cgk8L2c+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4K
                PGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4
                KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz
                4KPGc+CjwvZz4KPC9zdmc+Cg==" height= "100px" />
      </div>

      <div class="col s6 botones-avatar">
        <a class="waves-effect waves-light btn-large">Button</a>
        <a class="waves-effect waves-light btn-large">Button</a>
        <a class="waves-effect waves-light btn-large">Button</a>
      </div>
    </section>
    <script src="../js/jquery-3.2.1.min.js"></script>
    <script src="../js/materialize.min.js"></script>
    <script src="../js/avatar.js"></script>
  </body>
</html>
