<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Avatar</title>
    <link rel="stylesheet" href="../css/materialize.min.css">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../css/avatar.css">
  </head>
  <body>
<!-- botones -->
    <section class="container-fluid">
      <div class="col s6 avatar">
        <img src="../assets/img/monos-11.png"/>
      </div>

      <div class="col s6 botones-avatar">
    <!-- cabello     -->
        <a class="waves-effect waves-light btn-large cabello-rojo" type="submit" href="../assets/img/monos-11.png">
          <img src="../assets/img/monos-04.png" alt="cabello rojo">
        </a>
        <a class="waves-effect waves-light btn-large cabello-amarillo" type="submit" href="../assets/img/monos-12.png">
          <img src="../assets/img/monos-03.png" alt="cabello amarillo">
        </a>
        <a class="waves-effect waves-light btn-large cabello-cafe" type="submit" href="../assets/img/monos-13.png">
          <img src="../assets/img/monos-02.png" alt="cabello cafe">
        </a>
    <!-- vestidos     -->
      <a class="waves-effect waves-light btn-large vestido1">
        <img src="../assets/img/monos-05.png" alt="vestido1">
      </a>
      <a class="waves-effect waves-light btn-large vestido2">
        <img src="../assets/img/monos-06.png" alt="vestido2">
      </a>
      <a class="waves-effect waves-light btn-large vestido3">
        <img src="../assets/img/monos-07.png" alt="vestido3">
      </a>
    <!-- zapatos -->
      <a class="waves-effect waves-light btn-large zapato1">
        <img src="../assets/img/monos-08.png" alt="zapato1">
      </a>
      <a class="waves-effect waves-light btn-large zapato2">
        <img src="../assets/img/monos-09.png" alt="zapato2">
      </a>
      <a class="waves-effect waves-light btn-large zapato3">
        <img src="../assets/img/monos-10.png" alt="zapato3">
      </a>
      </div>
    </section>
    <script src="../js/jquery-3.2.1.min.js"></script>
    <script src="../js/materialize.min.js"></script>
    <script src="../js/avatar.js"></script>
  </body>
</html>
