<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>instrucciones</title>
	<!--links-->
	<link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
	<link rel="stylesheet" href="../css/materialize.min.css">
	<link rel="stylesheet" href="../views/../css/instrucciones.css">
</head>
<body>
	
	<section class="contenedor-peaton-fondo">
	
	<div class="row">
	  <div class="instrucciones-peaton col s8 offset-s2">
	  	 <div class="almacen-img">
	  	 	<img src="../assets/img/amarillo-largo.png" alt="instrucciones">
	  	 	<p class="instrucciones-titulo">I n s t r u c c i o n e s</p>	
	  	 </div> 
	  	  <span class="ciclista_titulo col s4 offset-s6">CICLISTA<img class="imagen_usuario" src="../assets/img/cyclist%20(3).png" alt="imagen de peaton">
           </span>
           <div class="row">
	         <p class="instrucciones_texto col s6 offset-s3 ">
	  	    Desplazate del punto A al B utilizando tu bicibleta  eligiendo la RUTA adecuada.
	  	    Para poder iniciar debes elegir el accesorio obligatorio para transitar seguro:
	  	  </p>	 
	      </div>
	      <div class="row">
	  <div class="articulo-contenedor col s8 offset-s3">
  	
   	  <img  class="articulos" src="../assets/img/articulos-01.png" alt="agua">
   	  <img class="articulos"  src="../assets/img/articulos-02.png" alt="lentes">
   	  <img class="articulos"  src="../assets/img/articulos-03.png" alt="casco">
   	  <img  class="articulos" src="../assets/img/articulos-04.png" alt="guates">
	   	  
	   </div>
	  </div>
	      <div class="botones col s4 offset-s4">
	     	<a class="waves-effect waves-yellow btn">M e n ú</a>
	     <a class="waves-effect waves-yellow btn">Avanzar</a>
	     </div>
	  </div>
	  
	   
	</div>
	</section>
	
	<!--funcionalidad-->
	<script src="js/jquery-3.2.1.min.js"></script>
	<script src="js/materialize.min.js"></script>
	<script src="js/instrucciones.js"></script>
</body>
</html>