<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>instrucciones</title>
	<!--links-->
	<link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
	<link rel="stylesheet" href="../css/materialize.min.css">
	<link rel="stylesheet" href="../css/instrucciones.css">
</head>
<body>

	<section class="contenedor-peaton-fondo">
	<div class="row">
	  <div class="instrucciones-peaton col s8 offset-s2">
	  	 <div class="almacen-img">
	  	 	<img src="../assets/img/amarillo-largo.png" alt="instrucciones">
	  	 	<p class="instrucciones-titulo">I n s t r u c c i o n e s</p>
	  	 </div>
	  	  <span class="peaton_titulo col s4 offset-s6">P E A T O N <img class="imagen_usuario" src="../assets/img/man-carrying-a-dog-with-a-belt-to-walk%20(2).png" alt="imagen de peaton"> </span>
	  	  <div class="row">
	         <p class="instrucciones_texto col s6 offset-s3">
	  	   Atraviesa la avenida para poder llegar a tu bicicleta.
	  	   Desplazate del punto A al punto B dando click en el botón avanzar.
	  	  </p>
	      </div>
	       <div class="botones col s4 offset-s4">
	     	<a class="waves-effect  waves-yellow btn">M e n ú </a>
	     <a class="waves-effect waves-yellow btn" id="btnAvanzar">Avanzar</a>
	     </div>
	     </div>
	  </div>
	</section>

	<!--funcionalidad-->
	<script src="../js/jquery-3.2.1.min.js"></script>
	<script src="../js/materialize.min.js"></script>
	<script src="../js/instrucciones.js"></script>
</body>
</html>
