<!DOCTYPE html>
<html>
  <head>
    <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="../css/materialize.min.css"  media="screen,projection"/>
      <!-- ESTILOS PROPIOS -->
      <link type="text/css" rel="stylesheet" href="../css/peaton-estilos.css" />
      
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <meta charset="utf-8">
    <title> nombre app</title>
  </head>
  <body>
    <section class="fondo" >
        <section class="row" >
            <section class="col s12">
                <div class="background-image" ></div>
                <div class="personaje" >
                    <img  class="imagen" src="../assets/img/peaton-1.png" />
                </div>
            </section>
        
            <section class="row">
                <section class="col s12">
                    <div class="contenedor-btn">
                        <button class="btn-home">Menú</button>
                        <button class="btn-inLine">Avanza</button>
                    </div>
                </section>
            </section>
        </section>
    </section>

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="../js/materialize.min.js"></script>
    <!-- FUNCIONALIDAD -->
  </body>
</html>
